html{
  width:100%;
  height:100%;
}
body{
  width:auto;
  height:auto;
}
*{
  font-family :'나눔고딕', 'Malgun Gothic', sans-serif;
}
a{
  text-decoration: none;
}
#header{
  top: 0;
  left: 0;
  background-image: url('../images/바_04.png');
  width: 100%;
  height: 140px;
  position: fixed;
}
#Logo{
  width:320px;
  height:140px;
  float:left;
}
#Logo img{
  margin-left: 70px;
  margin-right: 90px;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 160px;
  height: 60px;
}
#gnb{
  margin-top: 60px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width:1500px;
  line-height: 70px;
}
#gnb ul li{
  float:left;
  width: 130px;
  color: rgb(63,63,63);
  list-style: none;
}
#gnb ul li a{
   text-align: center;
   color:rgb(63,63,63);
   font-weight:600;
   display:block;
 }
#gnb ul li dl.drop-down{
  margin-top: 10px;
  border:1px #ccc solid;
  background:rgb(249,249,249);
  display:none;
}
#gnb ul li dl.drop-down dd{
  width: 129px;
  height:40px;
  line-height:40px;
}
#gnb ul li dl.drop-down a{
   font-size: 14px;
   font-weight: lighter;
   color:rgb(63,63,63);
   }
#gnb ul li dl.drop-down a:hover{
   background:rgb(181,181,181);
   color:rgb(63,63,63);
  }
#gnb ul li.menu3:hover .drop-down{
  display:block;
}
#gnb ul li.menu4:hover .drop-down{
  display:block;
}
#gnb ul li.menu5:hover .drop-down{
  display:block;
}
#gnb ul li.menu6:hover .drop-down{
  display:block;
}
#gnb ul li.menu7:hover .drop-down{
  display:block;
}
